.__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &::before {
    //The psuedo element before animation
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      //duration-delay
        background-color 0.1s;
  }
  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
  &:active::before {
    background-color: var(--color-primary-light);
  }
}
.__item__active {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &::before {
    //The psuedo element before animation
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
  }
}

.__link {
  &:link,
  &:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    position: relative; //for z-index to work
    z-index: 1;
  }
}
