.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-3);
}
.navIcon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.sideIcon {
  width: 1.75rem;
  height: 1.75rem;

  margin-right: 2rem;
  fill: currentColor; //Parent element
}
